{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .signup-form-container {
        width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .signup-form-container h1 {
        text-align: center;
    }

    .signup-form {
        text-align: left;
    }

    .signup-form label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .signup-form input[type="text"],
    .signup-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .signup-form input[type="submit"] {
        background-color: #28a745; /* Green color for registration */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    .signup-form input[type="submit"]:hover {
        background-color: #218838; /* Darker green on hover */
    }
</style>

<div class="signup-form-container">
    <div class="event">
        <h1>Sign Up</h1>
    </div>
    <form method="post" class="signup-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
{#        <div class="form-group">#}
{#            <label for="{{ form.email.id_for_label }}">Email:</label>#}
{#            {{ form.email }}#}
{#        </div>#}
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <input type="submit" value="Register">
    </form>
    <br>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}
